<section class="py-5">
  <div class="container">
    <h1 class="display-5 mb-4">Iniciar sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-4 border rounded shadow-sm bg-light">
      <div class="mb-3">
        <label for="nombre_usuario" class="form-label">Nombre de Usuario</label>
        <input id="nombre_usuario" type="text" class="form-control" formControlName="nombre_usuario"
          placeholder="Nombre de usuario" required />
      </div>

      <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input id="contrasena" type="password" class="form-control" formControlName="contrasena"
          placeholder="Contraseña" required />
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </div>
    </form>
  </div>
</section>