<section class="section">
  <div class="container">
    <h1 class="title">Registro</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="box">
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" formControlName="nombre" placeholder="Nombre" required />
        </div>
      </div>

      <div class="field">
        <label class="label">Dirección</label>
        <div class="control">
          <input class="input" type="text" formControlName="direccion" placeholder="Dirección" />
        </div>
      </div>

      <div class="field">
        <label class="label">Teléfono</label>
        <div class="control">
          <input class="input" type="text" formControlName="telefono" placeholder="Teléfono" />
        </div>
      </div>

      <div class="field">
        <label class="label">Correo</label>
        <div class="control">
          <input class="input" type="email" formControlName="correo" placeholder="Correo" required />
        </div>
      </div>

      <div class="field">
        <label class="label">Tipo de Usuario</label>
        <div class="control">
          <div class="select">
            <select formControlName="tipo_usuario" required>
              <option value="cliente">Cliente</option>
              <option value="agente">Agente</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Nombre de Usuario</label>
        <div class="control">
          <input class="input" type="text" formControlName="nombre_usuario" placeholder="Nombre de usuario" required />
        </div>
      </div>

      <div class="field">
        <label class="label">Contraseña</label>
        <div class="control">
          <input class="input" type="password" formControlName="contrasena" placeholder="Contraseña" required />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary" [disabled]="registerForm.invalid">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</section>
